@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

//font-family: 'Source Code Pro', monospace;
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: #bdeaff;
}

#color {
    transition: all 0.5s ease;
}

.dev_main {
    .container {
        padding-top: 20px;

        .card-title {
            text-align: center;
            color: rgba(31, 31, 31, 0.942);
        }

        .onego {
            visibility: hidden;
        }

        .card {
            margin: 20px auto;
            transition: all 0.3s ease;

            ul>li>a {
                color: rgb(30, 30, 30);
                font-family: 'Source Code Pro', monospace;
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .dev_main {
        background: rgb(189, 234, 255);
    }

    .container {
        display: flex;
        padding: none;
        justify-content: center;
        align-items: center;

        .card {
            margin: 10px;
            width: 280px;


            .card-title {
                font-size: 1.7rem;
            }

            .card-body {
                ul>li>a {
                    color: rgb(30, 30, 30);
                    font-family: 'Source Code Pro', monospace;
                    font-size: 1rem !important;
                }
            }

            &:hover {
                transition: all 0.3s ease;
                // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                border-radius: 20px;
                transform: translateY(-10px) translateX(-10px);

                .shad {

                    box-shadow: 10px 7px #0e0e0e;
                }

                img {
                    border-radius: 20px 20px 0px 0px;
                }

                .yel {
                    border-radius: 0px 0px 20px 20px;
                    background: rgb(252, 252, 103);
                }

                .gre {
                    border-radius: 0px 0px 20px 20px;
                    background: rgb(124, 255, 120);
                }

                .blu {
                    border-radius: 0px 0px 20px 20px;
                    background: rgb(110, 212, 249);
                }

                .card-title {
                    color: rgba(17, 17, 17, 0.942);
                }

                ul>li>a {
                    color: rgb(22, 22, 22);
                }
            }
        }
    }

    .color1 {
        background: rgba(5, 5, 150, 0.989);

        &:hover {
            box-shadow: 10px 10px white !important;
        }
    }

    .color2 {
        background: rgb(249, 249, 250);
    }
}

@media screen and (min-width:1260px) {
    .dev_main {
        min-height: 90vh;
        background: #bdeaff;
    }

    .container {
        display: flex;
        padding: none;
        justify-content: center;
        align-items: center;

        .card {
            margin: 10px;
            width: 350px;


            .card-title {
                font-size: 2rem;
            }

            .card-body {
                ul>li>a {
                    color: rgb(30, 30, 30);
                    font-family: 'Source Code Pro', monospace;
                    font-size: 1.5rem !important;
                }
            }

            &:hover {
                transition: all 0.3s ease;
                // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                border-radius: 20px;
                transform: translateY(-10px) translateX(-10px);
                box-shadow: 10px 7px #0e0e0e;

                img {
                    border-radius: 20px;
                }

                .yel {
                    border-radius: 0px 0px 20px 20px;
                    background: rgb(252, 252, 103);
                }

                .gre {
                    border-radius: 0px 0px 20px 20px;
                    background: rgb(124, 255, 120);
                }

                .blu {
                    border-radius: 0px 0px 20px 20px;
                    background: rgb(110, 212, 249);
                }

                .card-title {
                    color: rgba(17, 17, 17, 0.942);
                }

                ul>li>a {
                    color: rgb(22, 22, 22);
                }
            }
        }
    }

    .mid_section {
        h1 {
            color: rgb(32, 114, 255);
            font-size: bold;
            font-size: 2.9rem;
            padding: 15px 20px;
            border: 1px solid black;
            width: 50%;
            margin: auto;
            background: rgba(28, 28, 28, 0.071);
            border-radius: 4px;
            box-shadow: -10px -10px rgb(49, 49, 49);
            outline: none;
        }
    }
}